.headerNav{
    position: absolute;
    justify-content: space-around;
    width: 23%;
    top: 1%;
    right: 3%;
    display: flex;
}
.headingMain{
    position: absolute;
    /* justify-content: space-around; */
    gap: 10px;
    width: 16%;
    top: .7%;
    left: 4%;
    display: flex;
}
.titleHead{
    font-size: 2.9rem;
    font-weight: bold;
    
}
.headerTitle{
    position: absolute;
    font-size: 3.9rem;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.headerDesc{
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.headingHR{
    border: 1.4px solid rgb(37, 226, 163);
    position: absolute;
    top: 6.4%;
    width: 97%;
    left: 1.55%;
}
.contactButton{
    width: 7.3rem;
    height: 2.5rem;
    background-color: rgb(25, 229, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: .4rem;
    font-weight: bold;
    cursor: pointer;

}
.contactButton:active{
    width: 7.5rem;
    height: 2.7rem;
    right: 1.75%;
    top: 3.25%;
}
.aboutButton{
    width: 8.7rem;
    height: 2.5rem;
    background-color: rgb(25, 229, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: .4rem;
    font-weight: bold;
    cursor: pointer;
}
.aboutButton:active{
    width: 8.9rem;
    height: 2.7rem;
    right: 8.75%;
    top: 3.25%;
}
.homeButton{
    width: 5rem;
    height: 2.5rem;
    background-color: rgb(25, 229, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: .4rem;
    font-weight: bold;
    cursor: pointer;
}
.homeButton:active{
    width: 5.2rem;
    height: 2.7rem;
    right: 19.55%;
    top: 3.25%;
}

